<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * @category   Mavenbird
 * @package    Mavenbird_RefundRequest
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">

    <acl>
        <resources>

            <!-- ROOT -->
            <resource id="Magento_Backend::admin">

                <!-- ===================== -->
                <!-- SYSTEM > CONFIG ACL -->
                <!-- ===================== -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">

                            <resource id="Mavenbird_RefundRequest::config" title="Mavenbird">
                                <resource
                                    id="Mavenbird_RefundRequest::refundrequest_config"
                                    title="Refund Request Configuration"
                                />
                            </resource>

                        </resource>
                    </resource>
                </resource>

                <!-- ===================== -->
                <!-- SALES > OPERATIONS -->
                <!-- ===================== -->
                <resource id="Magento_Sales::sales" title="Sales" sortOrder="20">

                    <resource id="Magento_Sales::sales_operation"
                              title="Operations"
                              sortOrder="10">

                        <resource
                            id="Magento_Sales::sales_mavenbird_refund_request"
                            title="Mavenbird Refund Request List"
                            sortOrder="100"
                        />

                        <resource
                            id="Magento_Sales::sales_mavenbird_refund_request_label"
                            title="Mavenbird Refund Request Dropdown Options"
                            sortOrder="110"
                        />

                    </resource>
                </resource>

            </resource>

        </resources>
    </acl>
</config>
